@model Torneio.model.Times

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>Deletar Time</h4>
    <hr />
    <table class="table table-striped">
        <tbody>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Nome)</th>
                <td>@Html.DisplayFor(model => model.Nome)</td>
            </tr>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Sigla)</th>
                <td>@Html.DisplayFor(model => model.Sigla)</td>
            </tr>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Emblema)</th>
                <td>@Html.DisplayFor(model => model.Emblema)</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <p>
            <a class="btn btn-light" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Voltar</a> &nbsp;
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Deletar</button>
        </p>
    }
</div>
