@model Torneio.model.Times
@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Detalhes do Time</h4>
    <hr />
    <table class="table table-striped">
        <tbody>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Nome)</th>
                <td>@Html.DisplayFor(model => model.Nome)</td>
            </tr>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Sigla)</th>
                <td>@Html.DisplayFor(model => model.Sigla)</td>
            </tr>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Emblema)</th>
                <td><img width="80px" height="auto" src="~/@Model.Emblema" /></td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    <a class="btn btn-light" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Voltar</a> &nbsp;
    <a class="btn btn-info" href="@Url.Action("Edit", new { id = Model.ID })"><i class="fas fa-edit"></i> Editar</a>
</p>