@model IEnumerable<Torneio.model.Partidas>

@{
    ViewBag.Title = "Index";
}
<p>
    <a class="btn btn-light" href="@Url.Action("Index", "Torneios")"><i class="fas fa-arrow-left"></i> Voltar</a>
</p>
<h4>Partidas</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rodada)
        </th>
        <th width="10%">
            Time de Casa
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            Time de Fora
        </th>
        <th>
            Torneio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rodada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Times.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlacarTime1)
        </td>
        <td>x</td>
        <td>
            @Html.DisplayFor(modelItem => item.PlacarTime2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Times1.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Torneios.Nome)
        </td>
        <td>
            <a class="btn btn-info" href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i> Editar</a>
        </td>
    </tr>
}

</table>
<p>
    <a class="btn btn-light" href="@Url.Action("Index", "Torneios")"><i class="fas fa-arrow-left"></i> Voltar</a>
</p>