@model Torneio.model.Jogadores

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Detalhes do Jogador</h4>
    <hr />
    <table class="table table-striped">
        <tbody>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Nome)</th>
                <td>@Html.DisplayFor(model => model.Nome)</td>
            </tr>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Idade)</th>
                <td>@Html.DisplayFor(model => model.Idade)</td>
            </tr>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Nacionalidade)</th>
                <td>@Html.DisplayFor(model => model.Nacionalidade)</td>
            </tr>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.DataNascimento)</th>
                <td>@Html.DisplayFor(model => model.DataNascimento)</td>
            </tr>
            <tr>
                <th width="10%">@Html.DisplayNameFor(model => model.Times.Nome)</th>
                <td>@Html.DisplayFor(model => model.Times.Nome)</td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    <a class="btn btn-light" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Voltar</a> &nbsp;
    <a class="btn btn-info" href="@Url.Action("Edit", new { id = Model.ID })"><i class="fas fa-edit"></i> Editar</a>
</p>