@model IEnumerable<Torneio.model.Models.Tabela>
@{
    ViewBag.Title = "index";
}
<h2>index</h2>
<table class="table">
    <thead class="thead-dark">
    <th scope="col">Nome</th>
    <th scope="col">Vitórias</th>
    <th scope="col">Empates</th>
    <th scope="col">Derrotas</th>
    <th scope="col">Pontos</th>
    <th scope="col">Gols</th>
    <th scope="col">Gols Tomados</th>
    <th scope="col">Saldo de Gols</th>
    </thead>
    <tbody>
        @{
            foreach (var dados in Model)
            {
                <tr>
                    <td>@dados.Nome</td>
                    <td>@dados.vitorias</td>
                    <td>@dados.empates</td>
                    <td>@dados.derrotas</td>
                    <td>@dados.pontos</td>
                    <td>@dados.gols</td>
                    <td>@dados.golsTomados</td>
                    <td>@dados.saldoGols</td>
                </tr>
            }
        }
    </tbody>
</table>
