@model IEnumerable<Torneio.model.Models.Tabela>
@{
    ViewBag.Title = "index";
}
<p>
    <a class="btn btn-light" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Voltar</a>
</p>
<h4>Classificação</h4>
<table class="table">
    <thead class="thead-dark">
    <th scope="col" width="2%"></th>
    <th scope="col" width="10%">Nome</th>
    <th scope="col" width="2%">Pontos</th>
    <th scope="col" width="2%">Vitórias</th>
    <th scope="col" width="2%">Empates</th>
    <th scope="col" width="2%">Derrotas</th>
    <th scope="col" width="2%">Gols</th>
    <th scope="col" width="5%">Gols Sofridos</th>
    <th scope="col" width="10%">Saldo de Gols</th>
    </thead>
    <tbody>
        @{
            foreach (var dados in Model)
            {
                <tr>
                    <td>@dados.posicao º</td>
                    <td>@dados.Nome</td>
                    <td>@dados.pontos</td>
                    <td>@dados.vitorias</td>
                    <td>@dados.empates</td>
                    <td>@dados.derrotas</td>
                    <td>@dados.gols</td>
                    <td>@dados.golsTomados</td>
                    <td>@dados.saldoGols</td>
                </tr>
            }
        }
    </tbody>
</table>

<p>
    <a class="btn btn-light" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Voltar</a>
</p>
